<!DOCTYPE html>
{% extends "main.html" %}

{% block body_block %}

<div class="jumbotron">


<div class="d-flex justify-content-center">

    <form method="GET" action="{% url 'posts:list'%}" class="form-inline">
        {% csrf_token %}
        <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Search Posts</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="q">
        <button type="submit" class="btn btn-dark">GO</button>
        </div>
    </form>

</div>

    <br>


    <div class="row">

    {% for post in post_list %}

<div class="col-md-4">
                <div class="card text-white bg-dark mb-3">
                    {% if post.post_pic %}
                        <img class="card-img-top silvano" src="{{ post.post_pic.url }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="text-center"><a href="{% url 'posts:post_detail' pk=post.id %}">{{ post.title }}</a></p>
                            <p class="card-text"><a href="{% url 'posts:for_user' username=post.author.username %}">@{{ post.author.username }}</a></p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ post.likes.count }} Like{{ post.likes.count|pluralize }}
                            {{ post.comments.count }} comment{{ post.comments.count|pluralize }}
                        </div>
                    {% else %}
                        <div class="card-body">
                            <p class="text-center"><a href="{% url 'posts:post_detail' pk=post.id %}">{{ post.title }}</a></p>
                            <p class="card-text">{{ post.post_info_summary }}</p>
                            <p class="card-text"><a href="{% url 'posts:for_user' username=post.author.username %}">@{{ post.author.username }}</a></p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ post.likes.count }} Like{{ post.likes.count|pluralize }}
                            {{ post.comments.count }} comment{{ post.comments.count|pluralize }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% if forloop.counter|divisibleby:"3" and not forloop.last %}
            </div><div class="row">
        {% endif %}



{% endfor %}

           </div>

<div class="d-flex justify-content-center">

        <div class="pagination">

    {% if post_list.has_other_pages %}

    {% if post_list.has_previous %}
      <a href="?page={{ post_list.previous_page_number }}" class="pagination_numbers">&laquo;</a>

    {% else %}
      <div class="disabled pagination_numbers"><span>&laquo;</span></div>

    {% endif %}

    {% for i in post_list.paginator.page_range %}

      {% if post_list.number == i %}
        <div class="pagination_numbers"><span> {{ i }} </span></div>


      {% else %}
        <a href="?page={{ i }}" class="pagination_numbers">{{ i }}</a>

      {% endif %}
    {% endfor %}

    {% if post_list.has_next %}
      <a href="?page={{ post_list.next_page_number }}" class="pagination_numbers">&raquo;</a>

    {% else %}
      <div class="disabled pagination_numbers"><span>&raquo;</span></div>

    {% endif %}


{% endif %}
    </div>

</div>
</div>

{% endblock %}

