<!DOCTYPE html>
{% extends 'main.html' %}
{% block body_block %}

  {% if object_list %}
        <div class="container">
            <div class="jumbotron">
                <div align="center">
                    <p><strong>{{ object_list.count }} User{{ object_list.count|pluralize }} found</strong></p>
                    {% for user in object_list %}
                        {% if user.profile_pic %}
                            <div class="card" style="width: 10rem; height: 16rem">
                                <img class="card-img-top likepic" src="{{ user.profile_pic.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">  <a href="{{user.id}}">{{ user.user }}</a></h5>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
   <div class="container">
       <div class="jumbotron">
           <div align="center">
               <p>No Results</p>
           </div>
       </div>
   </div>
    {% endif %}

    {% endblock %}